$blue: #35ce8d;

::-webkit-scrollbar {
  width: 6px;
}
 
::-webkit-scrollbar-track {
  background-color: #333;
}
 
::-webkit-scrollbar-thumb {
  background-color: $blue;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: row;
  height: 100vh;
  font-family: Century Gothic, Lucida Grande;
  background-color: rgb(32, 38, 41);
  margin: 0;
}

h1 {
  font-size: 10vw;
}

.countdown {
  display: inline-flex;
  
  span, h1 {
    color: $blue;
  }
  
  .day, .hour, .min, .sec {
    padding: 1vw 3vw;   
    text-align: center;
    .num {
      display: block;
      font-size: 8vw;
      line-height: 1em;
    }
    .word {
      display: block;
      font-size: 2vw;
      color: #8a99ab;
    }
  }
}